{% extends "base.html" %}
{% block title %}WoW Database Explorer{% endblock %}
{% block body_class %}{{ body_class }}{% endblock %}
{% block content %}
<main class="portal-home" aria-label="WoW Database Explorer home">
  <div class="portal-logo-links" aria-label="Choose expansion">
    <a class="portal-logo-link portal-logo-classic" href="{{ url_for('expansion_page', expansion='vanilla') }}" aria-label="Open World of Warcraft Classic">
      <img src="{{ url_for('static', filename='img/' + expansion_data['vanilla']['logo']) }}" alt="World of Warcraft Classic">
    </a>
    <a class="portal-logo-link portal-logo-tbc" href="{{ url_for('expansion_page', expansion='tbc') }}" aria-label="Open The Burning Crusade">
      <img src="{{ url_for('static', filename='img/' + expansion_data['tbc']['logo']) }}" alt="The Burning Crusade">
    </a>
    <a class="portal-logo-link portal-logo-wotlk" href="{{ url_for('expansion_page', expansion='wotlk') }}" aria-label="Open Wrath of the Lich King">
      <img src="{{ url_for('static', filename='img/' + expansion_data['wotlk']['logo']) }}" alt="Wrath of the Lich King">
    </a>
  </div>
</main>
{% endblock %}
